.Homepage {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Homepage > div {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 720px) {
  .Homepage > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.carousel {
  position: relative;
}

.carousel button {
  position: absolute;
  border: none;
  z-index: 2;
  top: 50%;
  padding: 10px 10px;
  border-radius: 10%;
}

.carousel button:hover {
  background: black;
  color: white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.slideshow-flex {
  position: relative;
}

.slideshow-flex img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.slideshow-flex .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slideshow-flex .detail h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .slideshow-flex .detail h4 {
    font-size: 40px;
  }
}

.slideshow-flex .detail p {
  font-size: 20px;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

@media screen and (min-width: 720px) {
  .destination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.destination-card {
  background: whitesmoke;
  width: 100%;
}

.destination-card img {
  width: 100%;
  height: 100px;
}

@media screen and (min-width: 1020px) {
  .destination-card img {
    height: 50%;
  }
}

.experiences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 10px;
}

.experiences .card {
  width: 50% !important;
}

@media screen and (min-width: 720px) {
  .experiences {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.experiences svg {
  margin: auto;
}

hr {
  border: 2px solid whitesmoke;
  width: 100%;
}

.active-tab {
  width: 100%;
  border: 1px solid black;
  background: darkcyan;
}

.tab {
  width: 100%;
  border: 0;
  border: 1px solid black;
}

.active-contents {
  display: block;
}

.contents {
  display: none;
}

.sticky-info {
  position: absolute;
  top: 20%;
  right: 10px;
  text-align: center;
  background: whitesmoke;
  padding: 10px;
}

.Travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://images.travelandleisureindia.in/wp-content/uploads/2021/04/20150141/Featured-Image-6-1.jpg");
  background-size: cover;
  background-position: center;
}

.Travel > div {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.departure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.departure > i {
  margin: 10px 0;
}

.radio-active {
  display: block;
}

.radio-content {
  display: none;
}

.flightclass-tabs {
  color: white;
  border: none;
  padding: 5px 20px;
  background: orange;
}

.classtabs {
  background: orange;
  padding: 5px 10px;
  border: none;
  padding: 5px 20px;
}

.Class-choice {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 720px) {
  .departure {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .departure > i {
    margin: 10px;
  }
  .Class-choice {
    width: 50%;
  }
}
/*# sourceMappingURL=Home.css.map */